# Operators and Expressions

In Python, operators are special symbols that designate that some sort of computation should be performed. The values that an operator acts on are called **operands**.

Here is an example:

In [2]:
a = 10
b = 20

In [3]:
a + b

30

In this case, the `+` operator adds the operands `a` and `b` together. An operand can be either a literal value or a variable that references an object:

In [4]:
a = 10
b = 20

In [5]:
a + b - 5

25

A sequence of operands and operators, like `a + b - 5`, is called an **expression**. Python supports many operators for combining data objects into expressions. These are explored below.

## Arithmetic Operators

The following table lists the arithmetic operators supported by Python:


|Operator | Example | Meaning | Result|
|:--|:--|:--|:--|
|`+` (unary) |	`+a`	| **Unary Positive** | `a` In other words, it doesn’t really do anything. It mostly exists for the sake of completeness, to complement Unary Negation.|
|`+` (binary) |	`a + b`	| **Addition** |	Sum of `a` and `b` |
|`-` (unary) |	`-a`	| **Unary Negation** |	Value equal to `a` but opposite in sign |
|`-` (binary) |	`a - b`	| **Subtraction** | `b` subtracted from `a` |
|`*`|	`a * b`	| **Multiplication** | Product of `a` and `b` |
|`/`|	`a / b`	| **Division** | Quotient when `a` is divided by `b`. The result always has type float. |
|`%`|	`a % b`	| **Modulo** | Remainder when `a` is divided by `b` |
|`//`|	`a // b`	| **Floor Division** | (also called Integer Division)	Quotient when `a` is divided by `b`, rounded to the next smallest whole number |
|`**`|	`a ** b`	| **Exponentiation** | `a` raised to the power of `b` |

Here are some examples of these operators in use:

In [104]:
a = 4
b = 3

In [105]:
+a

4

In [8]:
-b

-3

In [9]:
a + b

7

In [10]:
a - b

1

In [11]:
a * b

12

In [12]:
a / b

1.3333333333333333

In [13]:
a % b

1

In [14]:
a ** b

64

The result of standard division (`/`) is always a `float`, even if the dividend is evenly divisible by the divisor:

In [15]:
10 / 5

2.0

In [16]:
type(10 / 5)

float

When the result of floor division (`//`) is positive, it is as though the fractional portion is truncated off, leaving only the integer portion. When the result is negative, the result is rounded down to the next smallest (greater negative) integer:

In [17]:
10 / 4

2.5

In [18]:
10 // 4

2

In [19]:
10 // -4

-3

In [20]:
-10 // 4

-3

In [21]:
-10 // -4

2

## Comparison Operators

|Operator |	Example |	Meaning |	Result |
|:--|:--|:--|:--|
|`==` |	`a == b` |	**Equal to** | `True` if the value of `a` is equal to the value of `b`. `False` otherwise |
|`!=` |	`a != b` |	**Not equal to** | `True` if `a` is not equal to `b`. `False` otherwise |
|`<` |	`a < b` |	**Less than** | `True` if `a` is less than `b`. `False` otherwise |
|`<=` |	`a <= b` |	**Less than or equal to** | `True` if `a` is less than or equal to `b`. `False` otherwise |
|`>` |	`a > b` |	**Greater than** | `True` if `a` is greater than `b`. `False` otherwise |
|`>=` |	`a >= b` |	**Greater than or equal to** | `True` if `a` is greater than or equal to `b`. `False` otherwise |

Here are examples of the comparison operators in use:

In [23]:
a = 10
b = 20

In [24]:
a == b

False

In [25]:
a != b

True

In [26]:
a <= b

True

In [27]:
a >= b

False

In [28]:
a = 30
b = 30

In [29]:
a == b

True

In [30]:
a <= b

True

In [31]:
a >= b

True

Comparison operators are typically used in Boolean contexts like conditional and loop statements to direct program flow, as you will see later.

### Equality Comparison on Floating-Point Values

Recall from the earlier discussion of floating-point numbers that the value stored internally for a float object may not be precisely what you’d think it would be. For that reason, it is poor practice to compare floating-point values for exact equality. Consider this example:

In [119]:
x = 1.1 + 2.2
x == 3.3

False

Yikes! The internal representations of the addition operands are not exactly equal to `1.1` and `2.2`, so you cannot rely on x to compare exactly to `3.3`.

The preferred way to determine whether two floating-point values are “equal” is to compute whether they are close to one another, given some tolerance. Take a look at this example:

In [127]:
tolerance = 0.00001

In [128]:
abs(x - 3.3) < tolerance

True

`abs()` returns absolute value. If the absolute value of the difference between the two numbers is less than the specified tolerance, they are close enough to one another to be considered equal.

## Logical Operators

The logical operators `not`, `or`, `and` and modify and join together expressions evaluated in Boolean context to create more complex conditions.

### Logical Expressions Involving Boolean Operands

As you have seen, some objects and expressions in Python actually are of Boolean type. That is, they are equal to one of the Python objects `True` or `False`.

In [35]:
x = 5
x < 10

True

In [41]:
type(x < 10)

bool

|Operator |	Example	 |Meaning |
|:--|:--|:--|
|`not` | `not x` | `True` if `x` is `False`. `False` if `x` is `True` (Logically reverses the sense of `x`) |
|`or` | `x or y` | `True` if either `x` or `y` is `True`. `False` otherwise. |
|`and` | `x and y` | `True` if both `x` and `y` are `True`. `False` otherwise. |

Take a look at how they work in practice below.

In [137]:
x = 5

In [138]:
not x < 10

False

In [139]:
x = 5

In [140]:
x < 10 or x > 10

True

In [141]:
x < 10 and x > 10

False

### Evaluation of Non-Boolean Values in Boolean Context

Many objects and expressions are not equal to True or False. Nonetheless, they may still be evaluated in Boolean context and determined to be “truthy” or “falsy.”

So what is true and what isn’t? As a philosophical question, that is outside the scope of this tutorial!

But in Python, it is well-defined. All the following are considered false when evaluated in Boolean context:
- The Boolean value `False`
- Any value that is numerically zero (`0`, `0.0`, `0.0+0.0j`)
- An empty string
- An object of a built-in composite data type which is empty (see later section)
- The special value denoted by the Python keyword `None`

Virtually any other object built into Python is regarded as `True`.

You can determine the “truthiness” of an object or expression with the built-in `bool()` function. `bool()` returns `True` if its argument is truthy and `False` if it is falsy.

#### Numeric Value
- A zero value is false.
- A non-zero value is true.

In [154]:
print(bool(0), bool(0.0), bool(0.0+0j))

False False False

In [155]:
print(bool(-3), bool(3.14159), bool(1.0+1j))

True True True

#### String
- An empty string is false.
- A non-empty string is true.

In [156]:
print(bool(''), bool(""), bool(""""""))

False False False

In [157]:
print(bool('foo'), bool(" "), bool(''' '''))

True True True

#### Built-In Composite Data Object
> Python provides built-in composite data types called `list`, `tuple`, `dict`, and `set` (and some more). These are “container” types that contain other objects. An object of one of these types is considered false if it is empty and true if it is non-empty.
>
>The examples below demonstrate this for the list type. (Lists are defined in Python with square brackets.)
>
>For more information on the `list`, `tuple`, `dict`, `set`, etc. types, see the upcoming sections.

In [158]:
type([])

list

In [159]:
bool([])

False

In [160]:
type([1, 2, 3])

list

In [161]:
bool([1, 2, 3])

True

#### The `None` Keyword
- `None` is always false:

In [162]:
bool(None)

False

## Bitwise Operators

Bitwise operators treat operands as sequences of binary digits and operate on them bit by bit. Bitwise operators will be addressed fully later.

## Identity Operators

Python provides two operators, `is` and `is not`, that determine whether the given operands have the same identity—that is, refer to the same object. This is not the same thing as equality, which means the two operands refer to objects that contain the same data but are not necessarily the same object.

Here is an example of two object that are equal but not identical:

In [64]:
x = 1001
y = 1000 + 1

In [65]:
print(x, y)

1001 1001

In [66]:
x == y

True

In [4]:
x is y

Here, `x` and `y` both refer to objects whose value is `1001`. They are equal. But they do not reference the same object, as you can verify:

In [68]:
id(x)

140016350734768

In [69]:
id(y)

140016350734224

`x` and `y` do not have the same identity, and `x` is `y` returns `False`.

You saw previously that when you make an assignment like `x = y`, Python merely creates a second reference to the same object, and that you could confirm that fact with the `id()` function. You can also confirm it using the `is` operator:

In [70]:
a = 'I am a string'
b = a

In [71]:
id(a)

140016350689072

In [72]:
id(b)

140016350689072

In [73]:
a is b

True

In [74]:
a == b

True

In this case, since `a` and `b` reference the same object, it stands to reason that `a` and `b` would be equal as well.

Unsurprisingly, the opposite of `is` is `is not`:

In [75]:
x = 10
y = 20

In [169]:
x is not y

False

## Augmented Assignment Operators

You have seen that a single equal sign (`=`) is used to assign a value to a variable. It is, of course, perfectly viable for the value to the right of the assignment to be an expression containing other variables:

In [186]:
a = 10
b = 20
c = a * 5 + b

In [187]:
c

70

In fact, the expression to the right of the assignment can include references to the variable that is being assigned to:

Python supports a shorthand augmented assignment notation for these arithmetic and bitwise operators:

|Arithmetic|Bitwise|
|:--|:--|
|`+`| `&` |
|`-`|`|`|
|`*`|`^`|
|`/`|`>>`|
|`%`|`<<`|
|`//`||
|`**`||

For these operators, the following are equivalent:

```python
x <op>= y
x = x <op> y
```

Take a look at these examples:

|Augmented Assignment || Standard Assignment |
|:--|:--|:--|
|`a += 5` | is equivalent to	| `a = a + 5`|
|`a /= 10` | is equivalent to	| `a = a / 10`|
|`a ^= b` | is equivalent to	| `a = a ^ b`|

## Conclusion
In this section, you learned about the diverse **operators** Python supports to combine objects into **expressions**.

Most of the examples you have seen so far have involved only simple atomic data, but you saw a brief introduction to the **string** data type. The next tutorial will explore **string** objects in much more detail.