<img src="../../images/banners/python-basics.png" width="600"/>

# <img src="../../images/logos/python.png" width="23"/> Lists and Tuples in Python

<a class="anchor" id="table_of_contents"></a>
## Table of Contents


* [Python Lists](#python_lists)
    * [1. Lists Are Ordered](#1._lists_are_ordered)
    * [2. Lists Can Contain Arbitrary Objects](#2._lists_can_contain_arbitrary_objects)
    * [3. List Elements Can Be Accessed by Index](#3._list_elements_can_be_accessed_by_index)
    * [4. Lists Can Be Nested](#4._lists_can_be_nested)
    * [5. Lists Are Mutable](#5._lists_are_mutable)
        * [Modifying a Single List Value](#modifying_a_single_list_value)
        * [Modifying Multiple List Values](#modifying_multiple_list_values)
        * [Prepending or Appending Items to a List](#prepending_or_appending_items_to_a_list)
    * [6. Lists Are Dynamic](#6._lists_are_dynamic)
* [Python Tuples](#python_tuples)
    * [Defining and Using Tuples](#defining_and_using_tuples)
    * [Tuple Assignment, Packing, and Unpacking](#tuple_assignment,_packing,_and_unpacking)
* [<img src="../../images/logos/checkmark.png" width="20"/> Conclusion](#conclusion)

---

Lists and tuples are arguably Python’s most versatile, useful data types. You will find them in virtually every nontrivial Python program.

* [Python Lists](#lists)
* [Python Tuples](#tuples)

<a class="anchor" id="python_lists"></a>
## Python Lists [<img src="../../images/logos/back_to_top.png" width="22" align= "center"/>](#table_of_contents)


In short, a list is a collection of arbitrary objects, somewhat akin to an array in many other programming languages but more flexible. Lists are defined in Python by enclosing a comma-separated sequence of objects in square brackets (`[]`), as shown below:

In [3]:
a = ['foo', 'bar', 'baz', 'qux']

In [9]:
a

['foo', 'bar', 'baz', 'qux']

The important characteristics of Python lists are as follows:

- Lists are ordered.
- Lists can contain any arbitrary objects.
- List elements can be accessed by index.
- Lists can be nested to arbitrary depth.
- Lists are mutable.
- Lists are dynamic.

Each of these features is examined in more detail below.

<a class="anchor" id="1._lists_are_ordered"></a>
### 1. Lists Are Ordered  [<img src="../../images/logos/back_to_top.png" width="22" align= "center"/>](#table_of_contents)


A list is not merely a collection of objects. It is an ordered collection of objects. The order in which you specify the elements when you define a list is an innate characteristic of that list and is maintained for that list’s lifetime. (You will see a Python data type that is not ordered in the next tutorial on dictionaries.)

In [22]:
x = [1, 2, 3]
y = [3, 2, 1]

print(x == y)
print(x is y)

False
False

In [23]:
x = [1, 2, 3]
y = [1, 2, 3]

print(x == y)
print(x is y)

True
False

In [24]:
x = [1, 2, 3]
y = x

print(x == y)
print(x is y)

True
True

Lists that have the same elements in a different order are not the same:

In [4]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']
a == b

False

In [5]:
a is b

False

In [6]:
[1, 2, 3, 4] == [4, 1, 3, 2]

False

<a class="anchor" id="2._lists_can_contain_arbitrary_objects"></a>
### 2. Lists Can Contain Arbitrary Objects [<img src="../../images/logos/back_to_top.png" width="22" align= "center"/>](#table_of_contents)


A list can contain any assortment of objects. The elements of a list can all be the same type:

In [7]:
a = [2, 4, 6, 8]

Or the elements can be of varying types:

In [9]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

Lists can even contain complex objects, like functions, classes, and modules, which you will learn about in upcoming sections:

In [10]:
int

int

In [11]:
len

In [12]:
def foo():
    pass

In [13]:
foo

In [14]:
import math
math

In [16]:
a = [int, len, foo, math]

In [17]:
a

[int,
 <function len(obj, /)>,
 <function __main__.foo()>,
 <module 'math' from '/home/ali/anaconda3/lib/python3.7/lib-dynload/math.cpython-37m-x86_64-linux-gnu.so'>]

A list can contain any number of objects, from zero to as many as your computer’s memory will allow:

In [18]:
a = []
a

[]

In [19]:
a = [ 'foo' ]
a

['foo']

In [21]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80,
81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

> A list with a single object is sometimes referred to as a singleton list.

List objects needn’t be unique. A given object can appear in a list multiple times:

In [42]:
a = ['bark', 'meow', 'woof', 'bark', 'cheep', 'bark']

<a class="anchor" id="3._list_elements_can_be_accessed_by_index"></a>
### 3. List Elements Can Be Accessed by Index [<img src="../../images/logos/back_to_top.png" width="22" align= "center"/>](#table_of_contents)


Individual elements in a list can be accessed using an index in square brackets. This is exactly analogous to accessing individual characters in a string. List indexing is zero-based as it is with strings.

Consider the following list:

In [43]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

The indices for the elements in a are shown below:

<img src="./images/list.webp" alt="string indexing" width=500 align="center" />

Here is Python code to access some elements of a:

In [44]:
a[0]

'foo'

In [45]:
a[2]

'baz'

In [46]:
a[5]

'corge'

Virtually everything about string indexing works similarly for lists. For example, a negative list index counts from the end of the list:

<img src="./images/list-negative-index.webp" alt="string indexing" width=500 align="center" />

In [47]:
a[-1]

'corge'

In [48]:
a[-2]

'quux'

In [49]:
a[-5]

'bar'

Slicing also works. If a is a list, the expression `a[m:n]` returns the portion of a from index `m` to, but not including, index `n`:

In [50]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [51]:
a[2:5]

['baz', 'qux', 'quux']

Other features of string slicing work analogously for list slicing as well:

- Both positive and negative indices can be specified:

In [52]:
a[-5:-2]

['bar', 'baz', 'qux']

In [53]:
a[1:4]

['bar', 'baz', 'qux']

In [26]:
a[-5:-2] == a[1:4]

True

- Omitting the first index starts the slice at the beginning of the list, and omitting the second index extends the slice to the end of the list:

In [29]:
a[:4], a[0:4]

([], [])

In [17]:
a[2:], a[2:len(a)]

(['baz', 'qux', 'quux', 'corge'], ['baz', 'qux', 'quux', 'corge'])

In [18]:
a[:4] + a[4:]

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [19]:
a[:4] + a[4:] == a

True

- You can specify a stride—either positive or negative:

In [20]:
a[0:6:2]

['foo', 'baz', 'quux']

In [21]:
a[1:6:2]

['bar', 'qux', 'corge']

In [22]:
a[6:0:-2]

['corge', 'qux', 'bar']

- The syntax for reversing a list works the same way it does for strings:

In [23]:
a[::-1]

['corge', 'quux', 'qux', 'baz', 'bar', 'foo']

The `[:]` syntax works for lists. However, there is an important difference between how this operation works with a list and how it works with a string.

In [61]:
s = 'foobar'

In [36]:
s[:]

'foobar'

In [37]:
s[:] is s

True

Conversely, if a is a list, `a[:]` returns a new object that is a copy of `a`:

In [38]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [39]:
a[:]

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [40]:
a[:] is a

False

Several Python operators and built-in functions can also be used with lists in ways that are analogous to strings:

- The `in` and `not in` operators:

In [50]:
'qux' in a

True

In [51]:
'thud' not in a

True

- The concatenation (`+`) and replication (`*`) operators:

In [61]:
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [62]:
a + ['grault', 'garply']

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']

In [63]:
a * 2

['foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge',
 'foo',
 'bar',
 'baz',
 'qux',
 'quux',
 'corge']

- The `len()`, `min()`, and `max(`) functions:

In [64]:
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [65]:
len(a)

6

In [38]:
min(a)

'bar'

In [70]:
max(a)

'qux'

It’s not an accident that strings and lists behave so similarly. They are both special cases of a more general object type called an iterable, which you will encounter in more detail in the upcoming tutorial on definite iteration.

By the way, in each example above, the list is always assigned to a variable before an operation is performed on it. But you can operate on a list literal as well:

In [40]:
['foo', 'bar', 'baz', 'qux', 'quux', 'corge'][2]

'baz'

In [41]:
['foo', 'bar', 'baz', 'qux', 'quux', 'corge'][::-1]

['corge', 'quux', 'qux', 'baz', 'bar', 'foo']

In [42]:
'quux' in ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

True

In [43]:
['foo', 'bar', 'baz'] + ['qux', 'quux', 'corge']

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [44]:
len(['foo', 'bar', 'baz', 'qux', 'quux', 'corge'][::-1])

6

For that matter, you can do likewise with a string literal:

In [124]:
'If Comrade Napoleon says it, it must be right.'[::-1]

'.thgir eb tsum ti ,ti syas noelopaN edarmoC fI'

<a class="anchor" id="4._lists_can_be_nested"></a>
### 4. Lists Can Be Nested [<img src="../../images/logos/back_to_top.png" width="22" align= "center"/>](#table_of_contents)


You have seen that an element in a list can be any sort of object. That includes another list. A list can contain sublists, which in turn can contain sublists themselves, and so on to arbitrary depth.

Consider this (admittedly contrived) example:

In [72]:
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']

The object structure that x references is diagrammed below:

<img src="./images/list-in-list.webp" alt="nested list" width=500 align="center" />

`x[0]`, `x[2]`, and `x[4]` are strings, each one character long:

In [49]:
x[0], x[2], x[4]

('a', 'g', 'j')

But `x[1]` and `x[3]` are sublists:

In [50]:
x[1]

['bb', ['ccc', 'ddd'], 'ee', 'ff']

In [51]:
x[3]

['hh', 'ii']

To access the items in a sublist, simply append an additional index:

In [53]:
x[1]

['bb', ['ccc', 'ddd'], 'ee', 'ff']

In [54]:
x[1][0]

'bb'

In [55]:
x[1][1]

['ccc', 'ddd']

In [56]:
x[1][2]

'ee'

In [57]:
x[1][3]

'ff'

In [58]:
x[3]

['hh', 'ii']

`x[1][1]` is yet another sublist, so adding one more index accesses its elements:

In [59]:
x[1][1]

['ccc', 'ddd']

In [60]:
x[1][1][0]

'ccc'

In [61]:
x[1][1][1]

'ddd'

There is no limit, short of the extent of your computer’s memory, to the depth or complexity with which lists can be nested in this way.

All the usual syntax regarding indices and slicing applies to sublists as well:

In [62]:
x[1][1][-1]

'ddd'

In [63]:
x[1][1:3]

[['ccc', 'ddd'], 'ee']

In [64]:
x[3][::-1]

['ii', 'hh']

However, be aware that operators and functions apply to only the list at the level you specify and are not recursive. Consider what happens when you query the length of `x` using `len()`:

In [65]:
x

['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']

In [66]:
len(x)

5

In [67]:
x[0]

'a'

In [68]:
x[1]

['bb', ['ccc', 'ddd'], 'ee', 'ff']

In [69]:
x[2]

'g'

In [70]:
x[3]

['hh', 'ii']

In [71]:
x[4]

'j'

`x` has only five elements—three strings and two sublists. The individual elements in the sublists don’t count toward `x`’s length.

You’d encounter a similar situation when using the in operator:

In [72]:
'ddd' in x

False

In [73]:
'ddd' in x[1]

False

In [74]:
'ddd' in x[1][1]

True

`'ddd'` is not one of the elements in `x` or `x[1]`. It is only directly an element in the sublist `x[1][1]`. An individual element in a sublist does not count as an element of the parent `list(s)`.

<a class="anchor" id="5._lists_are_mutable"></a>
### 5. Lists Are Mutable [<img src="../../images/logos/back_to_top.png" width="22" align= "center"/>](#table_of_contents)


Most of the data types you have encountered so far have been atomic types. Integer or float objects, for example, are primitive units that can’t be further broken down. These types are immutable, meaning that they can’t be changed once they have been assigned. It doesn’t make much sense to think of changing the value of an integer. If you want a different integer, you just assign a different one.

By contrast, the string type is a composite type. Strings are reducible to smaller parts—the component characters. It might make sense to think of changing the characters in a string. But you can’t. In Python, strings are also immutable.

The list is the first mutable data type you have encountered. Once a list has been created, elements can be added, deleted, shifted, and moved around at will. Python provides a wide range of ways to modify lists.

<a class="anchor" id="modifying_a_single_list_value"></a>
#### Modifying a Single List Value [<img src="../../images/logos/back_to_top.png" width="22" align= "center"/>](#table_of_contents)


A single value in a list can be replaced by indexing and simple assignment:

In [83]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [84]:
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [85]:
a[2] = 10

In [86]:
a[-1] = 20

In [87]:
a

['foo', 'bar', 10, 'qux', 'quux', 20]

You may recall from the section on Strings and Character Data in Python that you can’t do this with a string:

In [89]:
s = 'foobarbaz'

In [90]:
s[2] = 'x'

TypeError: 'str' object does not support item assignment

A list item can be deleted with the `del` command:

In [92]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [93]:
del a[3]

In [94]:
a

['foo', 'bar', 'baz', 'quux', 'corge']

<a class="anchor" id="modifying_multiple_list_values"></a>
#### Modifying Multiple List Values [<img src="../../images/logos/back_to_top.png" width="22" align= "center"/>](#table_of_contents)



What if you want to change several contiguous elements in a list at one time? Python allows this with slice assignment, which has the following syntax:

```python
a[m:n] = <iterable>
```

Again, for the moment, think of an iterable as a list. This assignment replaces the specified slice of a with `<iterable>`:

In [242]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [243]:
a[1:4]

['bar', 'baz', 'qux']

In [244]:
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

In [245]:
a

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [99]:
a[1:6]

[1.1, 2.2, 3.3, 4.4, 5.5]

In [100]:
a[1:6] = ['Bark!']

In [101]:
a

['foo', 'Bark!', 'quux', 'corge']

The number of elements inserted need not be equal to the number replaced. Python just grows or shrinks the list as needed.

You can insert multiple elements in place of a single element—just use a slice that denotes only one element:

In [102]:
a = [1, 2, 3]

In [103]:
a[1:2] = [2.1, 2.2, 2.3]

In [104]:
a

[1, 2.1, 2.2, 2.3, 3]

Note that this is not the same as replacing the single element with a list:

In [106]:
a = [1, 2, 3]

In [107]:
a[1] = [2.1, 2.2, 2.3]

In [108]:
a

[1, [2.1, 2.2, 2.3], 3]

You can also insert elements into a list without removing anything. Simply specify a slice of the form `[n:n]` (a zero-length slice) at the desired index:

In [109]:
a = [1, 2, 7, 8]

In [110]:
a[2:2] = [3, 4, 5, 6]

In [111]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

You can delete multiple elements out of the middle of a list by assigning the appropriate slice to an empty list. You can also use the del statement with the same slice:

In [115]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [116]:
a[1:5] = []

In [117]:
a

['foo', 'corge']

In [118]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [119]:
del a[1:5]

In [246]:
a

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

<a class="anchor" id="prepending_or_appending_items_to_a_list"></a>
#### Prepending or Appending Items to a List [<img src="../../images/logos/back_to_top.png" width="22" align= "center"/>](#table_of_contents)


Additional items can be added to the start or end of a list using the + concatenation operator or the `+=` augmented assignment operator:

In [121]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [122]:
a += ['grault', 'garply']

In [123]:
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']

In [124]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [125]:
a = [10, 20] + a

In [126]:
a

[10, 20, 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

Note that a list must be concatenated with another list, so if you want to add only one element, you need to specify it as a singleton list:

In [127]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a += 20

TypeError: 'int' object is not iterable

In [128]:
a += [20]

In [119]:
a

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

> **Note:** Technically, it isn’t quite correct to say a list must be concatenated with another list. More precisely, a list must be concatenated with an object that is iterable. Of course, lists are iterable, so it works to concatenate a list with another list.
>
>Strings are iterable also. But watch what happens when you concatenate a string onto a list:
>```python
a = ['foo', 'bar', 'baz', 'qux', 'quux']
a += 'corge'
a
>```
>This result is perhaps not quite what you expected. When a string is iterated through, the result is a list of its component characters. In the above example, what gets concatenated onto list a is a list of the characters in the string `'corge'`.
>
>If you really want to add just the single string 'corge' to the end of the list, you need to specify it as a singleton list:
>```python
a = ['foo', 'bar', 'baz', 'qux', 'quux']
a += ['corge']
a
>```
> If this seems mysterious, don’t fret too much. You’ll learn about the ins and outs of iterables in the tutorial on definite iteration.

<a class="anchor" id="6._lists_are_dynamic"></a>
### 6. Lists Are Dynamic [<img src="../../images/logos/back_to_top.png" width="22" align= "center"/>](#table_of_contents)


This tutorial began with a list of six defining characteristics of Python lists. The last one is that lists are dynamic. You have seen many examples of this in the sections above. When items are added to a list, it grows as needed:

In [135]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [136]:
a[2:2] = [1, 2, 3]

In [137]:
a += [3.14159]

In [138]:
a

['foo', 'bar', 1, 2, 3, 'baz', 'qux', 'quux', 'corge', 3.14159]

Similarly, a list shrinks to accommodate the removal of items:

In [139]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [140]:
a[2:3] = []

In [141]:
del a[0]

In [279]:
a

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

<a class="anchor" id="python_tuples"></a>
## Python Tuples [<img src="../../images/logos/back_to_top.png" width="22" align= "center"/>](#table_of_contents)


Python provides another type that is an ordered collection of objects, called a tuple.

<a class="anchor" id="defining_and_using_tuples"></a>
### Defining and Using Tuples [<img src="../../images/logos/back_to_top.png" width="22" align= "center"/>](#table_of_contents)


Tuples are identical to lists in all respects, except for the following properties:

- Tuples are defined by enclosing the elements in parentheses (`()`) instead of square brackets `[]`).
- Tuples are immutable.

Here is a short example showing a tuple definition, indexing, and slicing:

In [299]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [300]:
t

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [301]:
t[0]

'foo'

In [302]:
t[-1]

'corge'

In [303]:
t[1::2]

('bar', 'qux', 'corge')

Never fear! Our favorite string and list reversal mechanism works for tuples as well:

In [304]:
t[::-1]

('corge', 'quux', 'qux', 'baz', 'bar', 'foo')

> Note: Even though tuples are defined using parentheses, you still index and slice tuples using square brackets, just as for strings and lists.

Everything you’ve learned about lists—they are ordered, they can contain arbitrary objects, they can be indexed and sliced, they can be nested—is true of tuples as well. But they can’t be modified:

In [305]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
t[2] = 'Bark!'

TypeError: 'tuple' object does not support item assignment

Why use a tuple instead of a list?

- Program execution is faster when manipulating a tuple than it is for the equivalent list. (This is probably not going to be noticeable when the list or tuple is small.)

- Sometimes you don’t want data to be modified. If the values in the collection are meant to remain constant for the life of the program, using a tuple instead of a list guards against accidental modification.

- There is another Python data type that you will encounter shortly called a dictionary, which requires as one of its components a value that is of an immutable type. A tuple can be used for this purpose, whereas a list can’t be.

In a Python REPL session, you can display the values of several objects simultaneously by entering them directly at the `>>>` prompt, separated by commas:

In [150]:
a = 'foo'

In [151]:
b = 42

In [152]:
a, 3.14159, b

('foo', 3.14159, 42)

Python displays the response in parentheses because it is implicitly interpreting the input as a tuple.

There is one peculiarity regarding tuple definition that you should be aware of. There is no ambiguity when defining an empty tuple, nor one with two or more elements. Python knows you are defining a tuple:

In [346]:
t = ()
type(t)

tuple

In [347]:
t = (1, 2)
type(t)

tuple

In [348]:
t = (1, 2, 3, 4, 5)
type(t)

tuple

But what happens when you try to define a tuple with one item:

In [349]:
t = (2)
type(t)

int

Doh! Since parentheses are also used to define operator precedence in expressions, Python evaluates the expression `(2)` as simply the integer `2` and creates an int object. To tell Python that you really want to define a singleton tuple, include a trailing comma `(,)` just before the closing parenthesis:

In [350]:
t = (2,)
type(t)

tuple

In [351]:
t[0]

2

In [352]:
t[-1]

2

You probably won’t need to define a singleton tuple often, but there has to be a way.

When you display a singleton tuple, Python includes the comma, to remind you that it’s a tuple:

In [166]:
t

(2,)

<a class="anchor" id="tuple_assignment,_packing,_and_unpacking"></a>
### Tuple Assignment, Packing, and Unpacking [<img src="../../images/logos/back_to_top.png" width="22" align= "center"/>](#table_of_contents)


As you have already seen above, a literal tuple containing several items can be assigned to a single object:

In [69]:
t = ('foo', 'bar', 'baz', 'qux')

<img src="./images/tuple-packing.webp" alt="tuple-packing" width=400 align="center" />

In [70]:
t

('foo', 'bar', 'baz', 'qux')

In [71]:
t[0]

'foo'

In [72]:
t[-1]

'qux'

If that “packed” object is subsequently assigned to a new tuple, the individual items are “unpacked” into the objects in the tuple:

<img src="./images/tuple-unpacking.webp" alt="tuple-unpacking" width=400 align="center" />

In [174]:
(s1, s2, s3, s4) = t

In [175]:
s1

'foo'

In [176]:
s2

'bar'

In [177]:
s3

'baz'

In [178]:
s4

'qux'

When unpacking, the number of variables on the left must match the number of values in the tuple:

In [191]:
(s1, s2, s3) = t

ValueError: too many values to unpack (expected 3)

In [192]:
(s1, s2, s3, s4, s5) = t

ValueError: not enough values to unpack (expected 5, got 4)

Packing and unpacking can be combined into one statement to make a compound assignment:

In [197]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

In [198]:
s1

'foo'

In [199]:
s2

'bar'

In [200]:
s3

'baz'

In [201]:
s4

'qux'

Again, the number of elements in the tuple on the left of the assignment must equal the number on the right:

In [202]:
(s1, s2, s3, s4, s5) = ('foo', 'bar', 'baz', 'qux')

ValueError: not enough values to unpack (expected 5, got 4)

In assignments like this and a small handful of other situations, Python allows the parentheses that are usually used for denoting a tuple to be left out:

In [203]:
t = 1, 2, 3
t

(1, 2, 3)

In [204]:
x1, x2, x3 = t
x1, x2, x3

(1, 2, 3)

In [205]:
x1, x2, x3 = 4, 5, 6
x1, x2, x3

(4, 5, 6)

In [206]:
t = 2,
t

(2,)

It works the same whether the parentheses are included or not, so if you have any doubt as to whether they’re needed, go ahead and include them.

Tuple assignment allows for a curious bit of idiomatic Python. Frequently when programming, you have two variables whose values you need to swap. In most programming languages, it is necessary to store one of the values in a temporary variable while the swap occurs like this:

In [207]:
a = 'foo'
b = 'bar'
a, b

('foo', 'bar')

In [210]:
temp = a
a = b
b = temp
a, b

('foo', 'bar')

In Python, the swap can be done with a single tuple assignment:

In [212]:
a = 'foo'
b = 'bar'
a, b

('foo', 'bar')

In [213]:
a, b = b, a

In [214]:
a, b

('bar', 'foo')

As anyone who has ever had to swap values using a temporary variable knows, being able to do it this way in Python is the pinnacle of modern technological achievement. It will never get better than this.

In [383]:
x = (1, 2, 3)

In [384]:
x[0]

1

<a class="anchor" id="conclusion"></a>
## <img src="../../images/logos/checkmark.png" width="20"/> Conclusion  [<img src="../../images/logos/back_to_top.png" width="22" align= "center"/>](#table_of_contents)


This tutorial covered the basic properties of Python **lists** and **tuples**, and how to manipulate them. You will use these extensively in your Python programming.

One of the chief characteristics of a list is that it is ordered. The order of the elements in a list is an intrinsic property of that list and does not change, unless the list itself is modified. (The same is true of tuples, except of course they can’t be modified.)

The next tutorial will introduce you to the Python **dictionary**: a composite data type that is unordered. Read on!