# Basic Data Types

## Table of Contents:
* [1. Variable Names](#variable_names)
* [2. Basic Data Types](#basic_data_types)
    * [1.1. Float](#float)
    * [1.2. Integer](#integer)
    * [1.3. Boolean](#boolean)
    * [1.4. String](#string)
    * [1.5. List](#list)
    * [1.6. Dictionary](#dictionary)

## Jupyter Notebook
The Jupyter Notebook is an open-source web application that allows you to create and share documents that contain live code, equations, visualizations and narrative text. Uses include: data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine learning, and much more.

## `Hello World` in python

In [1]:
print("Hello World!")

Hello World!

<a class="anchor" id="variable_names"></a>
## 1. Variable Names

Rules:
- names cannot start with a number
- there can be no space in name, use `_` instead.
- can't use any of these symbols: `:'",<>/?|\()!@#$%^&*~-+`
- it is considered best practice (pep8) that names are lowercase
- avoid using words that have special meaning in python like `"list"` and `"str"`
  - `str = "string"; x = "123"; str(x)` raises `TypeError: 'str' object is not callable` error. `del str` to remove the variable.
- python uses **Dynamic Typing** which means you can reassign variables to different data types. This is different than other languages that are **"Statically-Typed"**

<a class="anchor" id="basic_data_types"></a>
## 2. Basic Data Types

|Name|Type|Description|
|:--|:--|:--|
|Integers|int|whole numbers: `300`|
|Floating point|float|numbers with a decimal point: `3.4`, `5.80989`, `100.0`|
|Strings|str|ordered sequence of characters: `"hello"`, `"summer", "سلام"`|
|Lists|list|ordered sequence of objects: `[10, "hello", 200.3]`|
|Dictionaries|dict|unordered key, value pairs: `{"key_1": "value_1", "key_2": "value_2"}`|
|Tuples|tuple|ordered immutable sequence of objects: `(10, "hello", 200.3)`|
|Sets|set|unordered collection of unique objects: `{"a", "b"}`|
|Booleans|bool|logical value indicating `True` or `False`|

<a class="anchor" id="float"></a>
### 2.1 Float

In [2]:
float_num = 1.0

In [3]:
type(float_num)

float

<a class="anchor" id="integer"></a>
### 2.2 Integer

In [9]:
int_num = 5

In [10]:
# Power
int_num ** 2

25

In [11]:
# Remainder
int_num % 3

2

In [12]:
# floor division
# Floor division is a normal division operation except that it returns the largest possible integer.
int_num // 2

2

In [14]:
# check equality
int_num == 5

True

#### FAQ

1. What's the difference between floating point and an integer?

An integer has no decimals in it, a floating point number can display digits past the decimal point.

2. Why doesn't `0.1 + 0.2 - 0.3` equal `0.0` ?

This has to do with floating point accuracy and computer's abilities to represent numbers in memory. For a full breakdown, check out: https://docs.python.org/2/tutorial/floatingpoint.html

In [16]:
# What is this False? Refer to FAQ above.
0.1 + 0.2 - 0.3 == 0.0

False

#### Variable Assignment

- Python uses **Dynamic Typing**.
- This means that you can reassign variables to different data types.
- This makes Python very flexible in assigning data types, this is different than other languages that are **Statically Typed**.

This is OK in Python.

```python
my_num = 2
my_num = "name"
```

This is Error in C++ which is Statically Typed.

```C++
int my_num = 2
my_num = "name"
```

Pros of Dynamic Typing:
- Very easy to work with.
- Faster development time.

Cons of Dynamic Typing:
- May result in bugs for unexpected data types.
- You need bo be aware of `type()`

<a class="anchor" id="boolean"></a>
### 2.3 Boolean

In [10]:
flag = True

In [66]:
flag = False

<a class="anchor" id="string"></a>
### 2.4 String
- Strings are ordered sequences: indexing and slicing
- `string[start:stop:step]`
- Note: strings are **immutable**! Most python objects (`booleans`, `integers`, `floats`, `strings`, and `tuples`) are immutable. This means that after you create the object and assign some value to it, you can’t modify that value.

In [126]:
my_str = "abcdefghijklmnopqrstuvwxyz"

In [75]:
my_str[10:]

'klmnopqrstuvwxyz'

In [76]:
my_str[:11]

'abcdefghijk'

In [79]:
my_str[:]

'abcdefghijklmnopqrstuvwxyz'

In [83]:
my_str[::2]

'acegikmoqsuwy'

In [87]:
my_str[-4]

'w'

In [89]:
my_str[:-1]

'abcdefghijklmnopqrstuvwxy'

In [90]:
my_str[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [91]:
my_str[-4:]

'wxyz'

In [92]:
my_str[-4::-1]

'wvutsrqponmlkjihgfedcba'

<a class="anchor" id="list"></a>
### 2.5 List

In [98]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [103]:
mylist[0]

1

In [104]:
mylist[3:]

[4, 5, 6, 7, 8, 9, 10]

In [105]:
mylist[:5]

[1, 2, 3, 4, 5]

In [127]:
mylist[0] = 999999
mylist

[999999, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<a class="anchor" id="dictionary"></a>
### 2.6 Dictionary

In [143]:
mydict = {"one": 1, "two": 2, "three": 3}

In [144]:
mydict["one"]

1

In [145]:
mydict["two"]

2

<a class="anchor" id="tuple"></a>
### 2.7 Tuple

In [156]:
mytuple = (1, 2, 3)

In [157]:
mytuple[0]

1

In [158]:
mytuple[1:]

(2, 3)

In [160]:
# tuples are immutable
mytuple[0] = 4

TypeError: 'tuple' object does not support item assignment

<a class="anchor" id="set"></a>
### 2.8 Set

In [200]:
myset = {10, 1, 3, 3, 3, 3, 3, 4, 4, 4, 4}
myset

{1, 3, 4, 10}

In [201]:
myset.add(90)
myset

{1, 3, 4, 10, 90}