<img src="../../images/banners/python-oop.png" width="600"/>

# <img src="../../images/logos/python.png" width="23"/> Data Types Methods

<a class="anchor" id="table_of_contents"></a>
## Table of Contents


* [`int`, `float`, and `complex`](#`int`,_`float`,_and_`complex`)
* [Built-in String Methods](#built-in_string_methods)
    * [Case Conversion](#case_conversion)
    * [Find and Replace](#find_and_replace)
    * [Character Classification](#character_classification)
    * [String Formatting](#string_formatting)
    * [Converting Between Strings and Lists](#converting_between_strings_and_lists)
* [List Methods](#list_methods)
    * [Methods That Modify a List](#methods_that_modify_a_list)
* [`tuple` Methods](#`tuple`_methods)
* [Dictionary Methods](#dictionary_methods)
* [Set Operators and Methods](#set_operators_and_methods)
    * [Modifying a Set](#modifying_a_set)
        * [Augmented Assignment Operators and Methods](#augmented_assignment_operators_and_methods)
    * [Other Methods For Modifying Sets](#other_methods_for_modifying_sets)

---

You learned in the tutorial on Variables in Python that Python is a highly object-oriented language. Every item of data in a Python program is an object.

You are also familiar with functions: callable procedures that you can invoke to perform specific tasks.

As we discussed in previous sections, methods are similar to functions. A method is a specialized type of callable procedure that is tightly associated with an object. Like a function, a method is called to perform a distinct task, but it is invoked on a specific object and has knowledge of its target object during execution.

The syntax for invoking a method on an object is as follows:

```python
obj.foo(<args>)
```

This invokes method `.foo()` on object `obj`. `<args>` specifies the arguments passed to the method (if any).

now, the goal is to present some of the more commonly used built-in methods Python supports for operating on data types covered so far.

In the following method definitions, arguments specified in square brackets (`[]`) are optional.

<a class="anchor" id="`int`,_`float`,_and_`complex`"></a>
## `int`, `float`, and `complex`
[Back to Top](#table_of_contents)

Integer, float and complex numbers have a few handy methods. Some of them are mentioned below:

`is_integer()` checks if a float number is actually an integer.

In [29]:
float_num.is_integer()

True

Complex numbers can be conjugated.

In [3]:
complex_num = 1 + 3j

In [4]:
complex_num.conjugate()

(1-3j)

You can also get the real and imaginary parts:

In [10]:
complex_num.real, complex_num.imag

(1.0, 3.0)

<a class="anchor" id="built-in_string_methods"></a>
## Built-in String Methods
[Back to Top](#table_of_contents)

<a class="anchor" id="case_conversion"></a>
### Case Conversion
[Back to Top](#table_of_contents)

Methods in this group perform case conversion on the target string.

> `s.capitalize()`
> 
> Capitalizes the target string.

`s.capitalize()` returns a copy of s with the first character converted to uppercase and all other characters converted to lowercase:

In [35]:
s = 'foO BaR BAZ quX'
s.capitalize()

'Foo bar baz qux'

Non-alphabetic characters are unchanged:

In [36]:
s = 'foo123#BAR#.'
s.capitalize()

'Foo123#bar#.'

> `s.lower()`
> 
> Converts alphabetic characters to lowercase.

`s.lower()` returns a copy of s with all alphabetic characters converted to lowercase:

In [37]:
'FOO Bar 123 baz qUX'.lower()

'foo bar 123 baz qux'

> `s.swapcase()`
> 
> Swaps case of alphabetic characters.

`s.swapcase()` returns a copy of `s` with uppercase alphabetic characters converted to lowercase and vice versa:

In [38]:
'FOO Bar 123 baz qUX'.swapcase()

'foo bAR 123 BAZ Qux'

> `s.title()`
> 
> Converts the target string to “title case.”

`s.title()` returns a copy of `s` in which the first letter of each word is converted to uppercase and remaining letters are lowercase:

In [39]:
'the sun also rises'.title()

'The Sun Also Rises'

This method uses a fairly simple algorithm. It does not attempt to distinguish between important and unimportant words, and it does not handle apostrophes, possessives, or acronyms gracefully:

In [40]:
"what's happened to ted's IBM stock?".title()

"What'S Happened To Ted'S Ibm Stock?"

> `s.upper()`
> 
> Converts alphabetic characters to uppercase.

`s.upper()` returns a copy of s with all alphabetic characters converted to uppercase:

In [41]:
'FOO Bar 123 baz qUX'.upper()

'FOO BAR 123 BAZ QUX'

<a class="anchor" id="find_and_replace"></a>
### Find and Replace
[Back to Top](#table_of_contents)

These methods provide various means of searching the target string for a specified substring.

Each method in this group supports optional `<start>` and `<end>` arguments. These are interpreted as for string slicing: the action of the method is restricted to the portion of the target string starting at character position `<start>` and proceeding up to but not including character position `<end>`. If `<start>` is specified but `<end>` is not, the method applies to the portion of the target string from `<start>` through the end of the string.

> `s.count(<sub>[, <start>[, <end>]])`
> 
> Counts occurrences of a substring in the target string.

`s.count(<sub>)` returns the number of non-overlapping occurrences of substring `<sub>` in `s`:

In [42]:
'foo goo moo'.count('oo')

3

The count is restricted to the number of occurrences within the substring indicated by `<start>` and `<end>`, if they are specified:

In [43]:
'foo goo moo'.count('oo', 0, 8)

2

> `s.endswith(<suffix>[, <start>[, <end>]])`
> 
> Determines whether the target string ends with a given substring.

`s.endswith(<suffix>)` returns `True` if `s` ends with the specified `<suffix>` and `False` otherwise:

In [44]:
'foobar'.endswith('bar')

True

In [45]:
'foobar'.endswith('baz')

False

The comparison is restricted to the substring indicated by <start> and <end>, if they are specified:

In [46]:
'foobar'.endswith('oob', 0, 4)

True

In [48]:
'foobar'.endswith('oob', 2, 4)

False

> `s.find(<sub>[, <start>[, <end>]])`
> 
> Searches the target string for a given substring.

You can use `.find()` to see if a Python string contains a particular substring. `s.find(<sub>)` returns the lowest index in `s` where substring `<sub>` is found:

In [49]:
'foo bar foo baz foo qux'.find('foo')

0

This method returns `-1` if the specified substring is not found:

In [50]:
'foo bar foo baz foo qux'.find('grault')

-1

The search is restricted to the substring indicated by `<start>` and `<end>`, if they are specified:

In [45]:
'foo bar foo baz foo qux'.find('foo', 4)

0

In [44]:
'foo bar foo baz foo qux'.find('foo', 4, 7)

-1

> `s.index(<sub>[, <start>[, <end>]])`
> 
> Searches the target string for a given substring.

This method is identical to `.find()`, except that it raises an exception if `<sub>` is not found rather than returning `-1`:

In [54]:
'foo bar foo baz foo qux'.index('grault')

ValueError: substring not found

> `s.rfind(<sub>[, <start>[, <end>]])`
> 
> Searches the target string for a given substring starting at the end.

`s.rfind(<sub>)` returns the highest index in `s` where substring `<sub>` is found:

In [55]:
'foo bar foo baz foo qux'.rfind('foo')

16

As with `.find()`, if the substring is not found, `-1` is returned:

In [56]:
'foo bar foo baz foo qux'.rfind('grault')

-1

The search is restricted to the substring indicated by `<start>` and `<end>`, if they are specified:

In [57]:
'foo bar foo baz foo qux'.rfind('foo', 0, 14)

8

In [58]:
'foo bar foo baz foo qux'.rfind('foo', 10, 14)

-1

> `s.rindex(<sub>[, <start>[, <end>]])`
> 
> Searches the target string for a given substring starting at the end.

This method is identical to `.rfind()`, except that it raises an exception if `<sub>` is not found rather than returning `-1`:

In [59]:
'foo bar foo baz foo qux'.rindex('grault')

ValueError: substring not found

> `s.startswith(<prefix>[, <start>[, <end>]])`
> 
> Determines whether the target string starts with a given substring.

When you use the Python `.startswith()` method, `s.startswith(<suffix>)` returns `True` if `s` starts with the specified `<suffix>` and `False` otherwise:

In [60]:
'foobar'.startswith('foo')

True

In [61]:
'foobar'.startswith('bar')

False

The comparison is restricted to the substring indicated by `<start>` and `<end>`, if they are specified:

In [62]:
'foobar'.startswith('bar', 3)

True

In [63]:
'foobar'.startswith('bar', 3, 2)

False

<a class="anchor" id="character_classification"></a>
### Character Classification
[Back to Top](#table_of_contents)

Methods in this group classify a string based on the characters it contains.

> `s.isalnum()`
> 
> Determines whether the target string consists of alphanumeric characters

`s.isalnum()` returns `True` if `s` is nonempty and all its characters are alphanumeric (either a letter or a number), and `False` otherwise:

In [46]:
'abc123'.isalnum()

True

In [65]:
'abc$123'.isalnum()

False

In [47]:
''.isalnum()

False

> `s.isalpha()`
> 
> Determines whether the target string consists of alphabetic characters.

`s.isalpha()` returns `True` if `s` is nonempty and all its characters are alphabetic, and `False` otherwise:

In [67]:
'ABCabc'.isalpha()

True

In [69]:
'abc123'.isalpha()

False

> `s.isdigit()`
> 
> Determines whether the target string consists of digit characters.

You can use the `.isdigit()` Python method to check if your string is made of only digits. `s.isdigit()` returns `True` if `s` is nonempty and all its characters are numeric digits, and `False` otherwise:

In [70]:
'123'.isdigit()

True

In [71]:
'123abc'.isdigit()

False

> `s.isidentifier()`
> 
> Determines whether the target string is a valid Python identifier.

`s.isidentifier()` returns `True` if `s` is a valid Python identifier according to the language definition, and `False` otherwise:

In [72]:
'foo32'.isidentifier()

True

In [73]:
'32foo'.isidentifier()

False

In [49]:
'foo$32'.isidentifier()

True

> **Note:** `.isidentifier()` will return `True` for a string that matches a Python keyword even though that would not actually be a valid identifier:
> 
> ```python
> >>> 'and'.isidentifier()
> True
> ```
> You can test whether a string matches a Python keyword using a function called `iskeyword()`, which is contained in a module called `keyword`. One possible way to do this is shown below:
> ```python
> >>> from keyword import iskeyword
> >>> iskeyword('and')
> True
> ```
> If you really want to ensure that a string would serve as a valid Python identifier, you should check that `.isidentifier()` is `True` and that `iskeyword()` is `False`.

> `s.islower()`
> 
> Determines whether the target string’s alphabetic characters are lowercase.

`s.islower()` returns `True` if `s` is nonempty and all the alphabetic characters it contains are lowercase, and `False` otherwise. Non-alphabetic characters are ignored:

In [75]:
'abc'.islower()

True

In [76]:
'abc1$d'.islower()

True

In [77]:
'Abc1$D'.islower()

False

> `s.isprintable()`
> 
> Determines whether the target string consists entirely of printable characters.

`s.isprintable()` returns `True` if `s` is empty or all the alphabetic characters it contains are printable. It returns `False` if `s` contains at least one non-printable character. Non-alphabetic characters are ignored:

In [78]:
'a\tb'.isprintable()

False

In [79]:
'a b'.isprintable()

True

In [80]:
''.isprintable()

True

In [81]:
'a\nb'.isprintable()

False

> **Note:** This is the only `.isxxxx()` method that returns `True` if `s` is an empty string. All the others return `False` for an empty string.

> `s.isspace()`
> 
> Determines whether the target string consists of whitespace characters.

`s.isspace()` returns `True` if `s` is nonempty and all characters are whitespace characters, and `False` otherwise.

The most commonly encountered whitespace characters are space `' '`, tab `'\t'`, and newline `'\n'`:

In [82]:
' \t \n '.isspace()

True

In [83]:
'   a   '.isspace()

False

However, there are a few other ASCII characters that qualify as whitespace, and if you account for Unicode characters, there are quite a few beyond that:

In [86]:
'\f\u2005\r'.isspace()

True

(`'\f'` and `'\r'` are the escape sequences for the ASCII Form Feed and Carriage Return characters; `'\u2005'` is the escape sequence for the Unicode Four-Per-Em Space.)

> `s.istitle()`
> 
> Determines whether the target string is title cased.

`s.istitle()` returns `True` if `s` is nonempty, the first alphabetic character of each word is uppercase, and all other alphabetic characters in each word are lowercase. It returns `False` otherwise:

In [87]:
'This Is A Title'.istitle()

True

In [88]:
'This is a title'.istitle()

False

In [89]:
'Give Me The #$#@ Ball!'.istitle()

True

> **Note:** Here is how the Python documentation describes `.istitle()`, in case you find this more intuitive: “Uppercase characters may only follow uncased characters and lowercase characters only cased ones.”

> `s.isupper()`
> 
> Determines whether the target string’s alphabetic characters are uppercase.

‍`s.isupper()` returns `True` if `s` is nonempty and all the alphabetic characters it contains are uppercase, and `False` otherwise. Non-alphabetic characters are ignored:

In [90]:
'ABC'.isupper()

True

In [91]:
'ABC1$D'.isupper()

True

In [92]:
'Abc1$D'.isupper()

False

<a class="anchor" id="string_formatting"></a>
### String Formatting
[Back to Top](#table_of_contents)

Methods in this group modify or enhance the format of a string.

> `s.center(<width>[, <fill>])`
> 
> Centers a string in a field.

`s.center(<width>)` returns a string consisting of `s` centered in a field of width `<width>`. By default, padding consists of the ASCII space character:

In [93]:
'foo'.center(10)

'   foo    '

If the optional `<fill>` argument is specified, it is used as the padding character:

In [94]:
'bar'.center(10, '-')

'---bar----'

If `s` is already at least as long as `<width>`, it is returned unchanged:

In [95]:
'foo'.center(2)

'foo'

> `s.expandtabs(tabsize=8)`
> 
> Expands tabs in a string.

`s.expandtabs()` replaces each tab character (`'\t'`) with spaces. By default, spaces are filled in assuming a tab stop at every eighth column:

In [96]:
'a\tb\tc'.expandtabs()

'a       b       c'

In [97]:
'aaa\tbbb\tc'.expandtabs()

'aaa     bbb     c'

tabsize is an optional keyword parameter specifying alternate tab stop columns:

In [98]:
'a\tb\tc'.expandtabs(4)

'a   b   c'

In [99]:
'aaa\tbbb\tc'.expandtabs(tabsize=4)

'aaa bbb c'

> `s.ljust(<width>[, <fill>])`
> 
> Left-justifies a string in field.

`s.ljust(<width>)` returns a string consisting of `s` left-justified in a field of width `<width>`. By default, padding consists of the ASCII space character:

In [100]:
'foo'.ljust(10)

'foo       '

If the optional `<fill>` argument is specified, it is used as the padding character:

In [101]:
'foo'.ljust(10, '-')

'foo-------'

If `s` is already at least as long as `<width>`, it is returned unchanged:

In [102]:
'foo'.ljust(2)

'foo'

> `s.lstrip([<chars>])`
> 
> Trims leading characters from a string.

`s.lstrip()` returns a copy of s with any whitespace characters removed from the left end:

In [103]:
'   foo bar baz   '.lstrip()

'foo bar baz   '

In [104]:
'\t\nfoo\t\nbar\t\nbaz'.lstrip()

'foo\t\nbar\t\nbaz'

If the optional `<chars>` argument is specified, it is a string that specifies the set of characters to be removed:

In [105]:
'http://www.realpython.com'.lstrip('/:pth')

'www.realpython.com'

> `s.replace(<old>, <new>[, <count>])`
> 
> Replaces occurrences of a substring within a string.

In Python, to remove a character from a string, you can use the Python string `.replace()` method. `s.replace(<old>, <new>)` returns a copy of s with all occurrences of substring `<old>` replaced by `<new>`:

In [106]:
'foo bar foo baz foo qux'.replace('foo', 'grault')

'grault bar grault baz grault qux'

If the optional `<count>` argument is specified, a maximum of `<count>` replacements are performed, starting at the left end of `s`:

In [107]:
'foo bar foo baz foo qux'.replace('foo', 'grault', 2)

'grault bar grault baz foo qux'

> `s.rjust(<width>[, <fill>])`
> 
> Right-justifies a string in a field.

`s.rjust(<width>)` returns a string consisting of `s` right-justified in a field of width `<width>`. By default, padding consists of the ASCII space character:

In [108]:
'foo'.rjust(10)

'       foo'

If the optional `<fill>` argument is specified, it is used as the padding character:

In [109]:
'foo'.rjust(10, '-')

'-------foo'

If `s` is already at least as long as `<width>`, it is returned unchanged:

In [110]:
'foo'.rjust(2)

'foo'

> `s.rstrip([<chars>])`
> 
> Trims trailing characters from a string.

`s.rstrip()` returns a copy of `s` with any whitespace characters removed from the right end:

In [111]:
'   foo bar baz   '.rstrip()

'   foo bar baz'

In [112]:
'foo\t\nbar\t\nbaz\t\n'.rstrip()

'foo\t\nbar\t\nbaz'

If the optional `<chars>` argument is specified, it is a string that specifies the set of characters to be removed:

In [113]:
'foo.$$$;'.rstrip(';$.')

'foo'

> `s.strip([<chars>])`
> 
> Strips characters from the left and right ends of a string.

`s.strip()` is essentially equivalent to invoking `s.lstrip()` and `s.rstrip()` in succession. Without the `<chars>` argument, it removes leading and trailing whitespace:

In [114]:
s = '   foo bar baz\t\t\t'
s = s.lstrip()
s = s.rstrip()

In [115]:
s

'foo bar baz'

As with `.lstrip()` and `.rstrip()`, the optional `<chars>` argument specifies the set of characters to be removed:

In [116]:
'www.realpython.com'.strip('w.moc')

'realpython'

> **Note:** When the return value of a string method is another string, as is often the case, methods can be invoked in succession by chaining the calls:
> 
> ```python
> >>> '   foo bar baz\t\t\t'.lstrip().rstrip()
> 'foo bar baz'
> >>> '   foo bar baz\t\t\t'.strip()
> 'foo bar baz'
> 
> >>> 'www.realpython.com'.lstrip('w.moc').rstrip('w.moc')
> 'realpython'
> >>> 'www.realpython.com'.strip('w.moc')
> 'realpython'
> ```

> `s.zfill(<width>)`
> 
> Pads a string on the left with zeros.

`s.zfill(<width>)` returns a copy of ``s left-padded with `'0'` characters to the specified `<width>`:

In [117]:
'42'.zfill(5)

'00042'

If `s` contains a leading sign, it remains at the left edge of the result string after zeros are inserted:

In [118]:
'+42'.zfill(8)

'+0000042'

In [119]:
'-42'.zfill(8)

'-0000042'

If `s` is already at least as long as `<width>`, it is returned unchanged:

In [120]:
'-42'.zfill(3)

'-42'

`.zfill()` is most useful for string representations of numbers, but Python will still happily zero-pad a string that isn’t:

In [121]:
'foo'.zfill(6)

'000foo'

<a class="anchor" id="converting_between_strings_and_lists"></a>
### Converting Between Strings and Lists
[Back to Top](#table_of_contents)

Methods in this group convert between a string and some composite data type by either pasting objects together to make a string, or by breaking a string up into pieces.

These methods operate on or return **iterables**, the general Python term for a sequential collection of objects.

Many of these methods return either a list or a tuple. These are two similar composite data types that are prototypical examples of iterables in Python. They are covered in the next tutorial, so you’re about to learn about them soon! Until then, simply think of them as sequences of values. A list is enclosed in square brackets (`[]`), and a tuple is enclosed in parentheses (`()`).

With that introduction, let’s take a look at this last group of string methods.

> `s.join(<iterable>)`
> 
> Concatenates strings from an iterable.

`s.join(<iterable>)` returns the string that results from concatenating the objects in `<iterable>` separated by `s`.

Note that `.join()` is invoked on `s`, the separator string. `<iterable>` must be a sequence of string objects as well.

Some sample code should help clarify. In the following example, the separator `s` is the string `', '`, and `<iterable>` is a list of string values:

In [122]:
', '.join(['foo', 'bar', 'baz', 'qux'])

'foo, bar, baz, qux'

The result is a single string consisting of the list objects separated by commas.

In the next example, `<iterable>` is specified as a single string value. When a string value is used as an iterable, it is interpreted as a list of the string’s individual characters:

In [124]:
list('corge')

['c', 'o', 'r', 'g', 'e']

In [125]:
':'.join('corge')

'c:o:r:g:e'

Thus, the result of `':'.join('corge')` is a string consisting of each character in `'corge'` separated by `':'`.

This example fails because one of the objects in `<iterable>` is not a string:

In [126]:
'---'.join(['foo', 23, 'bar'])

TypeError: sequence item 1: expected str instance, int found

That can be remedied, though:

In [127]:
'---'.join(['foo', str(23), 'bar'])

'foo---23---bar'

Many composite objects in Python can be construed as iterables, and `.join()` is especially useful for creating strings from them.

> `s.partition(<sep>)`
> 
> Divides a string based on a separator.

`s.partition(<sep>)` splits `s` at the first occurrence of string `<sep>`. The return value is a three-part tuple consisting of:

- The portion of `s` preceding `<sep>`
- `<sep>` itself
- The portion of `s` following `<sep>`

Here are a couple examples of `.partition()` in action:

In [128]:
'foo.bar'.partition('.')

('foo', '.', 'bar')

In [129]:
'foo@@bar@@baz'.partition('@@')

('foo', '@@', 'bar@@baz')

If `<sep>` is not found in `s`, the returned tuple contains `s` followed by two empty strings:

In [130]:
'foo.bar'.partition('@@')

('foo.bar', '', '')

> `s.rpartition(<sep>)`
> 
> Divides a string based on a separator.

`s.rpartition(<sep>)` functions exactly like `s.partition(<sep>)`, except that `s` is split at the last occurrence of `<sep>` instead of the first occurrence:

In [131]:
'foo@@bar@@baz'.partition('@@')

('foo', '@@', 'bar@@baz')

In [132]:
'foo@@bar@@baz'.rpartition('@@')

('foo@@bar', '@@', 'baz')

> `s.rsplit(sep=None, maxsplit=-1)`
> 
> Splits a string into a list of substrings.

Without arguments, `s.rsplit()` splits s into substrings delimited by any sequence of whitespace and returns the substrings as a list:

In [133]:
'foo bar baz qux'.rsplit()

['foo', 'bar', 'baz', 'qux']

In [134]:
'foo\n\tbar   baz\r\fqux'.rsplit()

['foo', 'bar', 'baz', 'qux']

If `<sep>` is specified, it is used as the delimiter for splitting:

In [135]:
'foo.bar.baz.qux'.rsplit(sep='.')

['foo', 'bar', 'baz', 'qux']

(If `<sep>` is specified with a value of `None`, the string is split delimited by whitespace, just as though `<sep>` had not been specified at all.)

When `<sep>` is explicitly given as a delimiter, consecutive delimiters in `s` are assumed to delimit empty strings, which will be returned:

In [136]:
'foo...bar'.rsplit(sep='.')

['foo', '', '', 'bar']

This is not the case when `<sep>` is omitted, however. In that case, consecutive whitespace characters are combined into a single delimiter, and the resulting list will never contain empty strings:

In [137]:
'foo\t\t\tbar'.rsplit()

['foo', 'bar']

If the optional keyword parameter `<maxsplit>` is specified, a maximum of that many splits are performed, starting from the right end of `s`:

In [138]:
'www.realpython.com'.rsplit(sep='.', maxsplit=1)

['www.realpython', 'com']

The default value for `<maxsplit>` is `-1`, which means all possible splits should be performed—the same as if `<maxsplit>` is omitted entirely:

In [139]:
'www.realpython.com'.rsplit(sep='.', maxsplit=-1)

['www', 'realpython', 'com']

In [140]:
'www.realpython.com'.rsplit(sep='.')

['www', 'realpython', 'com']

> `s.split(sep=None, maxsplit=-1)`
> 
> Splits a string into a list of substrings.

`s.split()` behaves exactly like `s.rsplit()`, except that if `<maxsplit>` is specified, splits are counted from the left end of s rather than the right end:

In [141]:
'www.realpython.com'.split('.', maxsplit=1)

['www', 'realpython.com']

In [142]:
'www.realpython.com'.rsplit('.', maxsplit=1)

['www.realpython', 'com']

If `<maxsplit>` is not specified, `.split()` and `.rsplit()` are indistinguishable.

> `s.splitlines([<keepends>])`
> 
> Breaks a string at line boundaries.

`s.splitlines()` splits `s` up into lines and returns them in a list. Any of the following characters or character sequences is considered to constitute a line boundary:

| Escape Sequence | Character |
|:--|:--|
| `\n` | Newline |
| `\r` | Carriage Return |
| `\r\n` | Carriage Return + Line Feed |
| `\v` or `\x0b` | Line Tabulation |
| `\f` or `\x0c` | Form Feed |
| `\x1c` | File Separator |
| `\x1d` | Group Separator |
| `\x1e` | Record Separator |
| `\x85` | Next Line (C1 Control Code) |
| `\u2028` | Unicode Line Separator |
| `\u2029` | Unicode Paragraph Separator |

Here is an example using several different line separators:

In [143]:
'foo\nbar\r\nbaz\fqux\u2028quux'.splitlines()

['foo', 'bar', 'baz', 'qux', 'quux']

If consecutive line boundary characters are present in the string, they are assumed to delimit blank lines, which will appear in the result list:

In [144]:
'foo\f\f\fbar'.splitlines()

['foo', '', '', 'bar']

If the optional `<keepends>` argument is specified and is truthy, then the lines boundaries are retained in the result strings:

In [145]:
'foo\nbar\nbaz\nqux'.splitlines(True)

['foo\n', 'bar\n', 'baz\n', 'qux']

In [146]:
'foo\nbar\nbaz\nqux'.splitlines(1)

['foo\n', 'bar\n', 'baz\n', 'qux']

<a class="anchor" id="list_methods"></a>
##  List Methods
[Back to Top](#table_of_contents)

<a class="anchor" id="methods_that_modify_a_list"></a>
### Methods That Modify a List
[Back to Top](#table_of_contents)

Python supplies several built-in methods that can be used to modify lists. Information on these methods is detailed below.

> **Note:** The string methods you saw in the previous tutorial did not modify the target string directly. That is because strings are immutable. Instead, string methods return a new string object that is modified as directed by the method. They leave the original target string unchanged:
> ```python
> >>> s = 'foobar'
> >>> t = s.upper()
> >>> print(s, t)
> foobar FOOBAR
> ```
> List methods are different. Because lists are mutable, the list methods shown here modify the target list in place.

> `a.append(<obj>)`
>     
> Appends an object to a list.

`a.append(<obj>)` appends object `<obj>` to the end of list `a`:

In [63]:
x = [1, 2, 3]

In [64]:
x.append(3)

In [66]:
x

[1, 2, 3, 3]

In [148]:
a = ['a', 'b']
a.append(123)

In [149]:
a

['a', 'b', 123]

Remember, list methods modify the target list in place. They do not return a new list:

In [150]:
a = ['a', 'b']
x = a.append(123)

In [151]:
print(x)

None

In [153]:
a

['a', 'b', 123]

Remember that when the `+` operator is used to concatenate to a list, if the target operand is an iterable, then its elements are broken out and appended to the list individually:

In [154]:
a = ['a', 'b']

In [155]:
a + [1, 2, 3]

['a', 'b', 1, 2, 3]

The `.append()` method does not work that way! If an iterable is appended to a list with `.append()`, it is added as a single object:

In [156]:
a = ['a', 'b']
a.append([1, 2, 3])

In [157]:
a

['a', 'b', [1, 2, 3]]

Thus, with `.append()`, you can append a string as a single entity:

In [158]:
a = ['a', 'b']
a.append('foo')

In [159]:
a

['a', 'b', 'foo']

> `a.extend(<iterable>)`
> 
> Extends a list with the objects from an iterable.

Yes, this is probably what you think it is. `.extend()` also adds to the end of a list, but the argument is expected to be an iterable. The items in `<iterable>` are added individually:

In [160]:
a = ['a', 'b']
a.extend([1, 2, 3])

In [162]:
a

['a', 'b', 1, 2, 3]

In other words, `.extend()` behaves like the `+` operator. More precisely, since it modifies the list in place, it behaves like the `+=` operator:

In [163]:
a = ['a', 'b']
a += [1, 2, 3]

In [164]:
a

['a', 'b', 1, 2, 3]

> `a.insert(<index>, <obj>)`
> 
> Inserts an object into a list.

`a.insert(<index>, <obj>)` inserts object `<obj>` into list a at the specified `<index>`. Following the method call, `a[<index>]` is `<obj>`, and the remaining list elements are pushed to the right:

In [100]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a.insert(3, 3.14159)

In [101]:
a[3]

3.14159

In [102]:
a

['foo', 'bar', 'baz', 3.14159, 'qux', 'quux', 'corge']

> `a.remove(<obj>)`
> 
> Removes an object from a list.

`a.remove(<obj>)` removes object `<obj>` from list a. If `<obj>` isn’t in `a`, an exception is raised:

In [168]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a.remove('baz')

In [169]:
a

['foo', 'bar', 'qux', 'quux', 'corge']

In [170]:
a.remove('Bark!')

ValueError: list.remove(x): x not in list

> `a.pop(index=-1)`
> 
> Removes an element from a list.

This method differs from `.remove()` in two ways:

- You specify the index of the item to remove, rather than the object itself.
- The method returns a value: the item that was removed.

`a.pop()` simply removes the last item in the list:

In [171]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [172]:
a.pop()

'corge'

In [173]:
a

['foo', 'bar', 'baz', 'qux', 'quux']

In [174]:
a.pop()

'quux'

In [175]:
a

['foo', 'bar', 'baz', 'qux']

If the optional `<index>` parameter is specified, the item at that index is removed and returned. `<index>` may be negative, as with string and list indexing:

In [176]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [177]:
a.pop(1)

'bar'

In [178]:
a

['foo', 'baz', 'qux', 'quux', 'corge']

In [179]:
a.pop(-3)

'qux'

In [180]:
a

['foo', 'baz', 'quux', 'corge']

`<index>` defaults to `-1`, so `a.pop(-1)` is equivalent to `a.pop()`.

<a class="anchor" id="`tuple`_methods"></a>
## `tuple` Methods
[Back to Top](#table_of_contents)

Tuples are immutable, so they don't have many built-in methods (and that's why they are a lighter data type compared to lists).

> `t.count(<value>)`
> 
> Counts occurrences of `<value>` in the target tuple.

In [118]:
t = (1, 1, 1, 2, 2, 3)

In [119]:
t.count(1)

3

In [120]:
t.count(2)

2

> `t.index(<value>[, <start>[, <stop>]])`
> 
> Searches the target tuple for a given value.(<value>)

In [121]:
t = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [122]:
t.index('baz')

2

In [123]:
t.index('Bark!')

ValueError: 'Bark!' is not in list

<a class="anchor" id="dictionary_methods"></a>
## Dictionary Methods
[Back to Top](#table_of_contents)

As with strings and lists, there are several built-in methods that can be invoked on dictionaries. In fact, in some cases, the list and dictionary methods share the same name. (In the discussion on object-oriented programming, you will see that it is perfectly acceptable for different types to have methods with the same name.)

The following is an overview of methods that apply to dictionaries:

> `d.clear()`
> 
> Clears a dictionary.

`d.clear()` empties dictionary `d` of all key-value pairs:

In [124]:
d = {'a': 10, 'b': 20, 'c': 30}

In [125]:
d

{'a': 10, 'b': 20, 'c': 30}

In [126]:
d.clear()

In [127]:
d

{}

> `d.get(<key>[, <default>])`
> 
> Returns the value for a key if it exists in the dictionary.

The Python dictionary `.get()` method provides a convenient way of getting the value of a key from a dictionary without checking ahead of time whether the key exists, and without raising an error.

`d.get(<key>)` searches dictionary `d` for `<key>` and returns the associated value if it is found. If `<key>` is not found, it returns `None`:

In [204]:
d = {'a': 10, 'b': 20, 'c': 30}

In [205]:
print(d.get('b'))

20

In [206]:
print(d.get('z'))

None

If `<key>` is not found and the optional `<default>` argument is specified, that value is returned instead of `None`:

In [207]:
print(d.get('z', -1))

-1

> `d.items()`
> 
> Returns a list of key-value pairs in a dictionary.

`d.items()` returns a list of tuples containing the key-value pairs in `d`. The first item in each tuple is the key, and the second item is the key’s value:

In [208]:
d = {'a': 10, 'b': 20, 'c': 30}
d

{'a': 10, 'b': 20, 'c': 30}

In [209]:
list(d.items())

[('a', 10), ('b', 20), ('c', 30)]

In [210]:
list(d.items())[1][0]

'b'

In [211]:
list(d.items())[1][1]

20

> `d.keys()`
> 
> Returns a list of keys in a dictionary.

`d.keys()` returns a list of all keys in `d`:

In [212]:
d = {'a': 10, 'b': 20, 'c': 30}
d

{'a': 10, 'b': 20, 'c': 30}

In [213]:
list(d.keys())

['a', 'b', 'c']

> `d.values()`
> 
> Returns a list of values in a dictionary.

`d.values()` returns a list of all values in `d`:

In [214]:
d = {'a': 10, 'b': 20, 'c': 30}
d

{'a': 10, 'b': 20, 'c': 30}

In [215]:
list(d.values())

[10, 20, 30]

Any duplicate values in d will be returned as many times as they occur:

In [216]:
d = {'a': 10, 'b': 10, 'c': 10}
d

{'a': 10, 'b': 10, 'c': 10}

In [217]:
list(d.values())

[10, 10, 10]

**Technical Note:** The `.items()`, `.keys()`, and `.values()` methods actually return something called a **view object**. A dictionary view object is more or less like a window on the keys and values. For practical purposes, you can think of these methods as returning lists of the dictionary’s keys and values.

> `d.pop(<key>[, <default>])`
> 
> Removes a key from a dictionary, if it is present, and returns its value.

If `<key>` is present in `d`, `d.pop(<key>)` removes `<key>` and returns its associated value:

In [152]:
d = {'a': 10, 'b': 20, 'c': 30}

In [153]:
d.pop('b')

20

In [154]:
d

{'a': 10, 'c': 30}

`d.pop(<key>)` raises a `KeyError` exception if `<key>` is not in `d`:

In [221]:
d = {'a': 10, 'b': 20, 'c': 30}

In [222]:
d.pop('z')

KeyError: 'z'

If `<key>` is not in d, and the optional `<default>` argument is specified, then that value is returned, and no exception is raised:

In [223]:
d = {'a': 10, 'b': 20, 'c': 30}

In [224]:
d.pop('z', -1)

-1

In [225]:
d

{'a': 10, 'b': 20, 'c': 30}

> `d.popitem()`
> 
> Removes a key-value pair from a dictionary.

`d.popitem()` removes the last key-value pair added from `d` and returns it as a tuple:

In [226]:
d = {'a': 10, 'b': 20, 'c': 30}

In [227]:
d.popitem()

('c', 30)

In [228]:
d

{'a': 10, 'b': 20}

In [229]:
d.popitem()

('b', 20)

In [230]:
d

{'a': 10}

If `d` is empty, `d.popitem()` raises a `KeyError` exception:

In [231]:
d = {}

In [232]:
d.popitem()

KeyError: 'popitem(): dictionary is empty'

> `d.update(<obj>)`
> 
> Merges a dictionary with another dictionary or with an iterable of key-value pairs.

If `<obj>` is a dictionary, `d.update(<obj>)` merges the entries from `<obj>` into `d`. For each key in `<obj>`:

- If the key is not present in `d`, the key-value pair from `<obj>` is added to `d`.
- If the key is already present in `d`, the corresponding value in `d` for that key is updated to the value from `<obj>`.

Here is an example showing two dictionaries merged together:

In [233]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'b': 200, 'd': 400}

In [234]:
d1.update(d2)

In [235]:
d1

{'a': 10, 'b': 200, 'c': 30, 'd': 400}

In this example, key `'b'` already exists in `d1`, so its value is updated to `200`, the value for that key from `d2`. However, there is no key `'d'` in `d1`, so that key-value pair is added from `d2`.

`<obj>` may also be a sequence of key-value pairs, similar to when the `dict()` function is used to define a dictionary. For example, `<obj>` can be specified as a list of tuples:

In [160]:
d1 = {'a': 10, 'b': 20, 'c': 30}

In [161]:
d1.update([('b', 200), ('d', 400)])

In [162]:
d1

{'a': 10, 'b': 200, 'c': 30, 'd': 400}

Or the values to merge can be specified as a list of keyword arguments:

In [163]:
d1 = {'a': 10, 'b': 20, 'c': 30}

In [164]:
d1.update(b=200, d=400)

In [165]:
d1

{'a': 10, 'b': 200, 'c': 30, 'd': 400}

<a class="anchor" id="set_operators_and_methods"></a>
## Set Operators and Methods
[Back to Top](#table_of_contents)

Below is a list of the set operations available in Python. Some are performed by operator, some by method, and some by both. The principle outlined above generally applies: where a set is expected, methods will typically accept any iterable as an argument, but operators require actual sets as operands.

> `x1.union(x2[, x3 ...])`
> 
> `x1 | x2 [| x3 ...]`
> 
> Compute the union of two or more sets.

<img src="./images/union.png" alt="set union" width=300 align="center" />

`x1.union(x2)` and `x1 | x2` both return the set of all elements in either `x1` or `x2`:

In [242]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

In [243]:
x1.union(x2)

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [244]:
x1 | x2

{'bar', 'baz', 'foo', 'quux', 'qux'}

More than two sets may be specified with either the operator or the method:

In [175]:
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}

In [179]:
a.union(b, c, d)

{1, 2, 3, 4, 5, 6, 7}

In [182]:
a | b | c | d

{1, 2, 3, 4, 5, 6, 7}

The resulting set contains all elements that are present in any of the specified sets.

> `x1.intersection(x2[, x3 ...])`
> 
> `x1 & x2 [& x3 ...]`
> 
> Compute the intersection of two or more sets.

<img src="./images/intersection.webp" alt="set intersection" width=300 align="center" />

`x1.intersection(x2)` and `x1 & x2` return the set of elements common to both `x1` and `x2`:

In [248]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

In [249]:
x1.intersection(x2)

{'baz'}

In [250]:
x1 & x2

{'baz'}

You can specify multiple sets with the intersection method and operator, just like you can with set union:

In [251]:
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}

In [252]:
a.intersection(b, c, d)

{4}

In [253]:
a & b & c & d

{4}

The resulting set contains only elements that are present in all of the specified sets.

> `x1.difference(x2[, x3 ...])`
> 
> `x1 - x2 [- x3 ...]`
> 
> Compute the difference between two or more sets.

<img src="./images/difference.webp" alt="set difference" width=300 align="center" />

`x1.difference(x2)` and `x1 - x2` return the set of all elements that are in `x1` but not in `x2`:

In [254]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

In [255]:
x1.difference(x2)

{'bar', 'foo'}

In [256]:
x1 - x2

{'bar', 'foo'}

Another way to think of this is that `x1.difference(x2)` and `x1 - x2` return the set that results when any elements in `x2` are removed or subtracted from `x1`.

Once again, you can specify more than two sets:

In [257]:
a = {1, 2, 3, 30, 300}
b = {10, 20, 30, 40}
c = {100, 200, 300, 400}

In [258]:
a.difference(b, c)

{1, 2, 3}

In [259]:
a - b - c

{1, 2, 3}

When multiple sets are specified, the operation is performed from left to right. In the example above, `a - b` is computed first, resulting in `{1, 2, 3, 300}`. Then `c` is subtracted from that set, leaving `{1, 2, 3}`:

<img src="./images/multi-diff.webp" alt="set difference" width=500 align="center" />

> `x1.symmetric_difference(x2)`
> 
> `x1 ^ x2 [^ x3 ...]`
> 
> Compute the [symmetric difference](https://en.wikipedia.org/wiki/Symmetric_difference) between sets.

<img src="./images/sym-diff.webp" alt="set sym diff" width=300 align="center" />

`x1.symmetric_difference(x2)` and `x1 ^ x2` return the set of all elements in either `x1` or `x2`, but not both:

In [262]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

In [263]:
x1.symmetric_difference(x2)

{'bar', 'foo', 'quux', 'qux'}

In [268]:
x1 ^ x2

{'bar', 'foo', 'quux', 'qux'}

This would be equal to union subtracted by intersection:

In [269]:
(x1 | x2) - (x1 & x2)

{'bar', 'foo', 'quux', 'qux'}

The `^` operator also allows more than two sets:

In [266]:
a = {1, 2, 3, 4, 5}
b = {10, 2, 3, 4, 50}
c = {1, 50, 100}

In [267]:
a ^ b ^ c

{5, 10, 100}

As with the difference operator, when multiple sets are specified, the operation is performed from left to right.

Curiously, although the `^` operator allows multiple sets, the `.symmetric_difference()` method doesn’t:

In [270]:
a = {1, 2, 3, 4, 5}
b = {10, 2, 3, 4, 50}
c = {1, 50, 100}

In [271]:
a.symmetric_difference(b, c)

TypeError: symmetric_difference() takes exactly one argument (2 given)

> `x1.isdisjoint(x2)`
> 
> Determines whether or not two sets have any elements in common.

`x1.isdisjoint(x2)` returns True if `x1` and `x2` have no elements in common:

In [272]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

In [273]:
x1.isdisjoint(x2)

False

In [274]:
x2 - {'baz'}

{'quux', 'qux'}

In [275]:
x1.isdisjoint(x2 - {'baz'})

True

If `x1.isdisjoint(x2)` is True, then `x1 & x2` is the empty set:

In [276]:
x1 = {1, 3, 5}
x2 = {2, 4, 6}

In [277]:
x1.isdisjoint(x2)

True

In [278]:
x1 & x2

set()

> **Note:** There is no operator that corresponds to the `.isdisjoint()` method.

> `x1.issubset(x2)`
> 
> `x1 <= x2`
> 
> Determine whether one set is a subset of the other.

In set theory, a set `x1` is considered a subset of another set `x2` if every element of `x1` is in `x2`.

`x1.issubset(x2)` and `x1 <= x2` return `True` if `x1` is a subset of `x2`:

In [279]:
x1 = {'foo', 'bar', 'baz'}
x1.issubset({'foo', 'bar', 'baz', 'qux', 'quux'})

True

In [280]:
x2 = {'baz', 'qux', 'quux'}
x1 <= x2

False

A set is considered to be a subset of itself:

In [281]:
x = {1, 2, 3, 4, 5}
x.issubset(x)

True

In [282]:
x <= x

True

It seems strange, perhaps. But it fits the definition—every element of `x` is in `x`.

> `x1 < x2`
> 
> Determines whether one set is a proper subset of the other.

A proper subset is the same as a subset, except that the sets can’t be identical. A set `x1` is considered a proper subset of another set `x2` if every element of `x1` is in `x2`, and `x1` and `x2` are not equal.

`x1 < x2` returns `True` if `x1` is a proper subset of `x2`:

In [283]:
x1 = {'foo', 'bar'}
x2 = {'foo', 'bar', 'baz'}

In [284]:
x1 < x2

True

In [285]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz'}

In [286]:
x1 < x2

False

While a set is considered a subset of itself, it is not a proper subset of itself:

In [287]:
x = {1, 2, 3, 4, 5}

In [288]:
x <= x

True

In [289]:
x < x

False

> **Note:** The `<` operator is the only way to test whether a set is a proper subset. There is no corresponding method.

> `x1.issuperset(x2)`
> 
> `x1 >= x2`
> 
> Determine whether one set is a superset of the other.

A superset is the reverse of a subset. A set `x1` is considered a superset of another set `x2` if `x1` contains every element of `x2`.

`x1.issuperset(x2)` and `x1 >= x2` return True if `x1` is a superset of `x2`:

In [290]:
x1 = {'foo', 'bar', 'baz'}

In [291]:
x1.issuperset({'foo', 'bar'})

True

In [292]:
x2 = {'baz', 'qux', 'quux'}

In [293]:
x1 >= x2

False

You have already seen that a set is considered a subset of itself. A set is also considered a superset of itself:

In [294]:
x = {1, 2, 3, 4, 5}

In [295]:
x.issuperset(x)

True

In [296]:
x >= x

True

> `x1 > x2`
> 
> Determines whether one set is a proper superset of the other.

A proper superset is the same as a superset, except that the sets can’t be identical. A set `x1` is considered a proper superset of another set `x2` if `x1` contains every element of `x2`, and `x1` and `x2` are not equal.

`x1 > x2` returns `True` if `x1` is a proper superset of `x2`:

In [297]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar'}
x1 > x2

True

In [298]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz'}
x1 > x2

False

A set is not a proper superset of itself:

In [299]:
x = {1, 2, 3, 4, 5}
x > x

False

> **Note:** The `>` operator is the only way to test whether a set is a proper superset. There is no corresponding method.

<a class="anchor" id="modifying_a_set"></a>
### Modifying a Set
[Back to Top](#table_of_contents)

Although the elements contained in a set must be of immutable type, sets themselves can be modified. Like the operations above, there are a mix of operators and methods that can be used to change the contents of a set.

<a class="anchor" id="augmented_assignment_operators_and_methods"></a>
#### Augmented Assignment Operators and Methods
[Back to Top](#table_of_contents)

Each of the union, intersection, difference, and symmetric difference operators listed above has an augmented assignment form that can be used to modify a set. For each, there is a corresponding method as well.

> `x1.update(x2[, x3 ...])`
> 
> `x1 |= x2 [| x3 ...]`
> 
> Modify a set by union.

`x1.update(x2)` and `x1 |= x2` add to `x1` any elements in `x2` that `x1` does not already have:

In [300]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

In [301]:
x1 |= x2
x1

{'bar', 'baz', 'foo', 'qux'}

In [302]:
x1.update(['corge', 'garply'])
x1

{'bar', 'baz', 'corge', 'foo', 'garply', 'qux'}

> `x1.intersection_update(x2[, x3 ...])`
> 
> `x1 &= x2 [& x3 ...]`
> 
> Modify a set by intersection.

`x1.intersection_update(x2)` and `x1 &= x2` update `x1`, retaining only elements found in both `x1` and `x2`:

In [303]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

In [304]:
x1 &= x2
x1

{'baz', 'foo'}

In [305]:
x1.intersection_update(['baz', 'qux'])
x1

{'baz'}

> `x1.difference_update(x2[, x3 ...])`
> 
> `x1 -= x2 [| x3 ...]`
> 
> Modify a set by difference.

`x1.difference_update(x2)` and `x1 -= x2` update `x1`, removing elements found in `x2`:

In [306]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

In [307]:
x1 -= x2
x1

{'bar'}

In [308]:
x1.difference_update(['foo', 'bar', 'qux'])
x1

set()

> `x1.symmetric_difference_update(x2)`
> 
> `x1 ^= x2`
> 
> Modify a set by symmetric difference.

`x1.symmetric_difference_update(x2)` and `x1 ^= x2` update `x1`, retaining elements found in either `x1` or `x2`, but not both:

In [309]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

In [310]:
x1 ^= x2
x1

{'bar', 'qux'}

In [311]:
x1.symmetric_difference_update(['qux', 'corge'])
x1

{'bar', 'corge'}

<a class="anchor" id="other_methods_for_modifying_sets"></a>
### Other Methods For Modifying Sets
[Back to Top](#table_of_contents)

Aside from the augmented operators above, Python supports several additional methods that modify sets.

> `x.add(<elem>)`
> 
> Adds an element to a set.

`x.add(<elem>)` adds `<elem>`, which must be a single immutable object, to `x`:

In [312]:
x = {'foo', 'bar', 'baz'}

In [313]:
x.add('qux')
x

{'bar', 'baz', 'foo', 'qux'}

> `x.remove(<elem>)`
> 
> Removes an element from a set.

`x.remove(<elem>)` removes `<elem>` from `x`. Python raises an exception if `<elem>` is not in `x`:

In [314]:
x = {'foo', 'bar', 'baz'}

In [315]:
x.remove('baz')
x

{'bar', 'foo'}

In [316]:
x.remove('qux')

KeyError: 'qux'

> `x.discard(<elem>)`
> 
> Removes an element from a set.

`x.discard(<elem>)` also removes `<elem>` from `x`. However, if `<elem>` is not in `x`, this method quietly does nothing instead of raising an exception:

In [195]:
x = {'foo', 'bar', 'baz'}

In [196]:
x.discard('baz')
x

{'bar', 'foo'}

In [197]:
x.discard('qux')
x

{'bar', 'foo'}

> `x.pop()`
> 
> Removes a random element from a set.

`x.pop()` removes and returns an arbitrarily chosen element from `x`. If `x` is empty, `x.pop()` raises an exception:

In [320]:
x = {'foo', 'bar', 'baz'}

In [321]:
x.pop()

'baz'

In [322]:
x

{'bar', 'foo'}

In [323]:
x.pop()

'bar'

In [324]:
x

{'foo'}

In [325]:
x.pop()

'foo'

In [326]:
x

set()

In [327]:
x.pop()

KeyError: 'pop from an empty set'

> `x.clear()`
> 
> Clears a set.

`x.clear()` removes all elements from `x`:

In [328]:
x = {'foo', 'bar', 'baz'}
x

{'bar', 'baz', 'foo'}

In [329]:
x.clear()
x

set()